@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

.cropper-view-box,
.cropper-face {
    border-radius: 50% !important;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    } /* geser setengah aja */
}

.animate-marquee {
    display: inline-flex;
    animation: marquee 20s linear infinite;
}
